html body{
  margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
}


.header{
  background-color:#2f5167;
  width:100%;
  position: fixed;            /* ヘッダーの固定 */
   top: 0px;                   /* 位置(上0px) */
   left: 0px;                  /* 位置(右0px) */
   width: 100%;                /* 横幅100%　*/
   height: 90px;              /* 縦幅140px */
   opacity: 0.8;
}

.header h1{
  float:left;
  font-size: 36px;
  height: 50px;
　padding-left:20px;
  color: #fff;
}

ul{
  float:right;
  color: #fff;

}

.header li{
  list-style:none;
  float:left;
  margin:0px 10px;
  border-left: 1px solid #fff;
  padding-left:20px;
  padding-top: 5px
  height:30px;
  margin-top: 20px;
}



.main{
  background-color:#bdf7f1;
  height:1500px;
  width:100%;
}

.img img{
  float:left;
  margin-top:90px;
}



.main-contents {
  height: 800px;
  width: 800px;
  background-color: #fff;
  float:left;
  margin-top:10px;
  margin-left:30px;
}

.main-contents h2{
  margin:20px 20px 5px 20px;
  border-bottom: 2px solid #dee7ec;
}

.side-contents {
  height: 800px;
  width: 400px;
  background-color: #fff;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.side-contents h2{
  margin:20px 20px 5px 20px;
  border-bottom: 2px solid #dee7ec;
}

.footer{
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer h1 {
  float: left;
  font-size: 32px;
  color:#fff;
}
